@model ReportSTP.Models.Account.LoginForUser
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

@*<!DOCTYPE html>
    <html lang="en">

    <head>*@
<!-- Required meta tags
<!--<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="au theme template">
<meta name="author" content="Hau Nguyen">
<meta name="keywords" content="au theme template">-->
<!-- Title Page-->
<!--<title>Login</title>-->
<!-- Fontfaces CSS-->
<!--<link href="~/css/site.css" rel="stylesheet" />
<link href="~/css/font-face.css" rel="stylesheet" media="all">
<link href="~/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="~/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
<link href="~/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">-->
<!-- Bootstrap CSS-->
<!--<link href="~/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">-->
<!-- Vendor CSS-->
<!--<link href="~/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
<link href="~/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
<link href="~/vendor/wow/animate.css" rel="stylesheet" media="all">
<link href="~/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
<link href="~/vendor/slick/slick.css" rel="stylesheet" media="all">
<link href="~/vendor/select2/select2.min.css" rel="stylesheet" media="all">
<link href="~/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">-->
<!-- Main CSS-->
<!--<link href="~/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">-->
@*<a href="#">
        <img src="images/icon/logo.png" alt="CoolAdmin">
    </a>*@
<!--<div class="logo_box logo"><a href="https://www.stp.az/"> <img src="https://www.stp.az/assets/images/logo3.png" id="logo3" style="transform: rotate(0deg);"> <img src="https://www.stp.az/assets/images/logo2.png" id="logo2" style="transform: rotate(360deg);"> <img src="https://www.stp.az/assets/images/logo1.png" id="logo1" style="transform: rotate(0deg);"> <img src="https://www.stp.az/assets/images/logo4.png" id="logo4"> </a>-->--><!--<a href='https://www.stp.az/' class='logo rel_left top_middle'><img src='https://www.stp.az/assets/images/new_logo.png' alt='Logo' height='57' class='rel_left' /></a>-->
<!--</div>
                    </div>
                    <div class="bg-image"></div>
                    <div class="login-form">
                        <form action="" method="post">
                            <div class="form-group">
                                <label>Email Address</label>
                                <input class="au-input au-input--full" type="email" name="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                            </div>
                            <div class="login-checkbox">
                                <label>
                                    <input type="checkbox" name="remember">Remember Me
                                </label>
                                <label>
                                    <a href="#">Forgotten Password?</a>
                                </label>
                            </div>
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
                            <div class="social-login-content">
                                <div class="social-button">
                                    <button class="au-btn au-btn--block au-btn--blue m-b-20">sign in with facebook</button>
                                    <button class="au-btn au-btn--block au-btn--blue2">sign in with twitter</button>
                                </div>
                            </div>
                        </form>
                        <div class="register-link">
                            <p>
                                Don't you have account?
                                <a href="#">Sign Up Here</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>-->
<!-- Jquery JS-->
<!--<script src="~/vendor/jquery-3.2.1.min.js"></script>-->
<!-- Bootstrap JS-->
<!--<script src="~/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="~/vendor/bootstrap-4.1/bootstrap.min.js"></script>-->
<!-- Vendor JS       -->
<!--<script src="~/vendor/slick/slick.min.js">
</script>
<script src="~/vendor/wow/wow.min.js"></script>
<script src="~/vendor/animsition/animsition.min.js"></script>
<script src="~/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="~/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="~/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="~/vendor/circle-progress/circle-progress.min.js"></script>
<script src="~/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="~/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="~/vendor/select2/select2.min.js">
</script>-->
<!-- Main JS-->
<!--<script src="~/js/main.js"></script>

</body>

</html>-->
<!-- end document-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
    @*<link href="style.css" rel="stylesheet">*@
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <div class="contact-form">
        @*<img alt="" class="avatar" src="https://i.postimg.cc/zDyt7KCv/a1.jpg" />*@
        <img alt="" class="avatar" src="~/images/person.png" />
        <h2>GİRİŞ</h2>
        <form method="post">
            <p>İstifadəçi adı</p><input placeholder="İstifadəçi adını daxil edin" type="text" asp-for="UserName" autocomplete="off" />
            <p>Şifrə</p><input placeholder="Şifrəni daxil edin" type="password" asp-for="Password" /> <input type="submit" value="daxil olun" />
            <p><input type="checkbox" />şifrəmi xatırla</p>
        </form>
    </div>
</body>
</html>
